@define-color bg #121417;
@define-color fg #f1f3f4;
@define-color gray1 #3dbefa;
@define-color gray2 #7b8c9d;
@define-color gray3 #5b80fb;
@define-color gray4 #4cc0fa;
@define-color gray5 #6a9afb;
@define-color fg_bright #f1f3f4;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}